@font-face {
    font-family: 'PP Acma';
    src: url(./src/Fonts/PPAcma-Light.otf);
}
@font-face {
    font-family: 'Pragmatica';
    src: url(./src/Fonts/fonnts.com-Pragmatica_Light.otf);
}
@font-face {
    font-family: 'Pragmatica-bold';
    src: url(./src/Fonts/fonnts.com-Pragmatica_Bold.otf);
}
@font-face {
    font-family: 'neue montreal';
    src: url(./src/Fonts/ppneuemontreal-book.otf);
}
:root{
    --background-clr: #F1EBDD;
    --background-clr2:#E5DACD;
    --background-clr3: #DBCFBF;
    --background-clr4: #CBBFAE;
    --text-clr: #574C3E;
    --background-red:#CC0E1E;

}
::-webkit-scrollbar{
    display: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 200vh;
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--background-clr);
    font-family: 'PP Acma';
}
.background-clip{
    position: absolute;
    width: 100%;
    height: 200vh;
    object-fit: cover;
    z-index: -1;
    position: fixed;

} 
.rhombus{
    width: 18px;
    height: 18px;
   margin: 30px;
   border: 1px solid #F1EBDD;
   position: fixed;
    
}
.first-container{
    padding: 50px 80px;
    margin-bottom: 160px;
}
.box-container{
    height: 90vh;
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--background-clr);
   
}
.left-box{
    width: 30px;
    height: 39.4px;
    border-right: 1px solid var(--background-clr);
    border-bottom: 1px solid var(--background-clr);
}
.text-field{
    text-align: center;
}
.logo{
    width: 170px;
    height: 47px;
    margin-top: 14px;
    margin-bottom: 145px;
}
.text-field a{
    text-decoration: none;
    color: var(--background-clr);
    font-family: 'Pragmatica';
    font-size: 12px;
    font-weight: 400;
}
.text-field a li{
    margin-bottom: 32px;
}
.text-field p{
    font-size: 45px;
    font-weight: 400;
    padding: 0 205px;
}
.right-box{
    width: 30px;
    height: 39.4px;
    border-left: 1px solid var(--background-clr);
    border-bottom: 1px solid var(--background-clr);
}


.second-container{
    font-family: 'PP Acma';
    
}
.second-container p{
    font-size: 33px;
    font-weight: 400;
    text-align: left;
    padding: 0 355px;
}










.services{
    background-color: var(--background-clr);
    color: var(--text-clr);
    padding: 80px 50px;
    font-family: 'PP Acma';
}
.services a{
    text-decoration: none;
}
.services a li{
    font-family: 'Pragmatica';
    font-size: 12px;
    font-weight: 400;
    margin-bottom:20px;
    color: var(--text-clr);
}
.services p{
    font-size:33px;
    font-weight:500;
    width: 62%;
}