@font-face {
    font-family: 'PP Acma';
    src: url(../../src/Fonts/PPAcma-Light.otf);
}
@font-face {
    font-family: 'Pragmatica';
    src: url(../../src/Fonts/fonnts.com-Pragmatica_Light.otf);
}
:root{
    --background-clr: #F1EBDD;
    --background-clr2:#E5DACD;
    --background-clr3: #DBCFBF;
    --background-clr4: #CBBFAE;
    --dark-background:#252323;
    --text-clr: #574C3E;
    --background-red:#CC0E1E;


}
::-webkit-scrollbar{
    display: none;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'PP Acma';
    color: #fff;
}
.main-container{
    background-image: url(../../src/assets/HomeBanner.jpg);
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.main-container .rhombus{
    width: 18px;
    height: 18px;
   margin: 30px;
   border: 1px solid #F1EBDD;
   position: fixed;
}
.text-container{
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-top: 200px;
}

.left-side{
    position: relative;
    left: 9%;  
    padding-bottom: 25px;
}
.symbols{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    
}
.symbols p{
    font-family: 'Pragmatica';
    font-size: 7px;
    font-weight: 300;
    margin-right: 15px;
}
.symbols div{
    display: flex;
    gap: 8px;
}
.text{
    font-family: 'Pragmatica';
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 3%;
}
.text span{
    font-weight: 400;
}
.right-side{
    position: relative;
    padding-top: 30px;
    padding-right:95px ;
}

.right-side h1{
    font-size: 70px;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 55px;
    line-height: 80px;
}






.second-container{
    background-color: var(--background-clr);
    padding: 35px 25px;
    color: var(--text-clr);
}
.box-container{
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--text-clr);
    text-align: center;

}

.box-left{
    width: 28px;
    height: 39px;
    border-right: 1px solid var(--text-clr);
    border-bottom: 1px solid var(--text-clr);
}
.box-left-end{
    width: 28px;
    height: 39px;
    border-right: 1px solid var(--text-clr);
}
.box-right{
    width: 28px;
    height: 39px;
    border-left: 1px solid var(--text-clr);
    border-bottom: 1px solid var(--text-clr);
}
.box-right-end{
    width: 28px;
    height: 39px;
    border-left: 1px solid var(--text-clr);
}
.text-field{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 50px;
    width: 995px;
}
.text-field li{
    font-family: 'Pragmatica-bold';
    font-size:10px;
    font-weight:400;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.text-field h2{
    font-size: 45px;
    font-weight: 400;
}
.text-field button{
    font-family: 'Pragmatica';
    padding: 20px 30px;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    border: 0;
    outline: 0;
    cursor: pointer;
}
.text-field i{
    margin-left: 2px;
}








.third-container{
    background-color: var(--background-clr);
    padding: 0 25px;
    color:var(--text-clr) ;
}
.first-box{
    background-color: var(--background-clr2);
    padding: 25px 45px;
    color:var(--text-clr) ;
    margin-bottom: 35px;
    z-index: 1;
    height: 70vh;

}
.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.head p{
    font-size: 30px;
    font-weight: 600;
}
.head-right{
    display: flex;
    align-items:center ;
    gap: 20px;
}
.head-right p{
    background-color: var(--background-red);
    color: #fff;
    padding: 5px;
    align-items: center;
    font-family: 'Pragmatica';
    font-size: 10px;
    font-weight: 300;
    text-transform: uppercase;
}
.content{
    padding-top:30px;
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
}
.left{
 width: 28%;
 text-align: left;
 margin-top: 30px;
}
.left li{
    font-family: 'Pragmatica';
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 10px;
}
.left p{
    font-family: 'neue montreal';
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;

}
.line3{
    display: flex;
    gap: 55px;
    font-family: 'neue montreal';
    margin-bottom: 15px;
}

.line3 .sector{
    font-size: 14px;
}
.line3 .sector-list{
    font-size: 18px;
}
.line4{
    display: flex;
    gap: 3px;
}
.line4 p{
    font-size: 14px;
    font-weight: 400;
    background-color:rgba(114, 114, 114, 0.21);
    padding: 4px 8px;
}
.left button{
    font-size: 12px;
    font-family: 'Pragmatica';
    font-weight: 400;
    padding: 16px 20px;
    border-radius: 38px;
    background: transparent;
    outline: 0;
    border: 1px solid var(--text-clr);
    margin-top: 75px;
}

.right{
    width: 70%;
    height: 401px;
    background-image:url(../../src/assets/restless_still.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;

}

.top-image{
    position: relative;
    z-index: 1;
    width: 86px;
    height: 86px;
    left: 20px;    
}






.second-box{
    background-color: var(--background-clr3);
    padding: 25px 45px;
    color:var(--text-clr) ;
    margin-bottom: 35px;
    z-index: 2;
    height: 70vh;
}
.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.head p{
    font-size: 30px;
    font-weight: 600;
}
.head-right{
    display: flex;
    align-items:center ;
    gap: 20px;
}
.head-right p{
    background-color: var(--background-red);
    color: #fff;
    padding: 5px;
    align-items: center;
    font-family: 'Pragmatica';
    font-size: 10px;
    font-weight: 300;
    text-transform: uppercase;
}
.content{
    padding-top:30px;
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
}
.left{
 width: 28%;
 text-align: left;
 margin-top: 30px;
}
.left li{
    font-family: 'Pragmatica';
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 10px;
}
.left p{
    font-family: 'neue montreal';
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;

}
.line3{
    display: flex;
    gap: 55px;
    font-family: 'neue montreal';
    margin-bottom: 15px;
}

.line3 .sector{
    font-size: 14px;
}
.line3 .sector-list{
    font-size: 18px;
}
.line4{
    display: flex;
    gap: 3px;
}
.line4 p{
    font-size: 14px;
    font-weight: 400;
    background-color:rgba(114, 114, 114, 0.21);
    padding: 4px 8px;
}
.left button{
    font-size: 12px;
    font-family: 'Pragmatica';
    font-weight: 400;
    padding: 16px 20px;
    border-radius: 38px;
    background: transparent;
    outline: 0;
    border: 1px solid var(--text-clr);
    margin-top: 75px;
}

.right{
    width: 70%;
    height: 401px;
    background-image:url(../../src/assets/restless_still.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;

}

.top-image{
    position: relative;
    z-index: 1;
    width: 86px;
    height: 86px;
    left: 20px;    
}








.third-box{
    background-color: var(--background-clr4);
    padding: 25px 45px;
    color:var(--text-clr) ;
    margin-bottom: 35px;
    z-index: 3;
    height: 70vh;
       
}
.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.head p{
    font-size: 30px;
    font-weight: 600;
}
.head-right{
    display: flex;
    align-items:center ;
    gap: 20px;
}
.head-right p{
    background-color: var(--background-red);
    color: #fff;
    padding: 5px;
    align-items: center;
    font-family: 'Pragmatica';
    font-size: 10px;
    font-weight: 300;
    text-transform: uppercase;
}
.content{
    padding-top:30px;
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
}
.left{
 width: 28%;
 text-align: left;
 margin-top: 30px;
}
.left li{
    font-family: 'Pragmatica';
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 10px;
}
.left p{
    font-family: 'neue montreal';
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;

}
.line3{
    display: flex;
    gap: 55px;
    font-family: 'neue montreal';
    margin-bottom: 15px;
}

.line3 .sector{
    font-size: 14px;
}
.line3 .sector-list{
    font-size: 18px;
}
.line4{
    display: flex;
    gap: 3px;
}
.line4 p{
    font-size: 14px;
    font-weight: 400;
    background-color:rgba(114, 114, 114, 0.21);
    padding: 4px 8px;
}
.left button{
    font-size: 12px;
    font-family: 'Pragmatica';
    font-weight: 400;
    padding: 16px 20px;
    border-radius: 38px;
    background: transparent;
    outline: 0;
    border: 1px solid var(--text-clr);
    margin-top: 75px;
}

.right{
    width: 70%;
    height: 401px;
    background-image:url(../../src/assets/restless_still.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;

}

.top-image{
    position: relative;
    z-index: 1;
    width: 86px;
    height: 86px;
    left: 20px;    
}

